/* Custom color theme properties */
:root {
  --f7-theme-color: #009688;
  --f7-theme-color-rgb: 0, 150, 136;
  --f7-theme-color-shade: #006d63;
  --f7-theme-color-tint: #00bfad;
}

/* Your app custom styles here */
.tab-link:hover {
  text-decoration-line: none;
}
